@main-bg-color : #000;

@header-gradient: linear-gradient(190deg,
  rgba(218, 49, 171, 0.5) 6%,
  rgba(25, 29, 112, 0.5) 50%,
  rgba(0, 0, 0, 1) 80%);

@ellipse1: {
  background: #160E6B;
  filter: blur(80px);
}

@ellipse2: {
  background: radial-gradient(40.35% 50% at 50.75% 48.6%,
  rgba(205, 82, 200, 0.5) 0%,
  rgba(30, 37, 209, 0.5) 100%);
  filter: blur(80px);
}

@ellipse3: {
  background: rgba(171, 55, 166, 0.2);
  filter: blur(50px);
}

@ellipse4: {
  background: rgba(255, 92, 0, .3);
  filter: blur(100px);
}

@ellipse5: {
  background: rgba(255, 0, 107, 0.4);
  filter: blur(80px);
}

@ellipse6: {
  background: rgba(250, 46, 8, .3);
  filter: blur(50px);
}

@ellipse7: {
  background: rgba(30, 166, 209, 0.5);
  filter: blur(80px);
}